---
---

import "{{ site.theme }}";
.btn {
  color: rgba(22, 150, 86, 0.99);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}